<section class="text-center" *ngIf="user" >
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        border: 0;
        ">

    <style>
      .custom-image-container-main label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
        cursor: pointer;
        width: 100%;
        height: 620px;
        border: solid 1px black;
        border-radius: 5px;
        object-fit: cover;
      }
    </style>

    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8 text-start">
          <h2 class="fw-bold mb-3 text-center">Редагування профілю</h2>
          <div>
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example3">Введіть новий нікнейм</label>
              <input id="form3Example3" class="form-control" [(ngModel)]="name"
                     type="email"
                     placeholder="{{user.nickName}}">
            </div>

            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Введіть нове призвіще</label>
              <input id="form3Example4" class="form-control" #pass
                     [(ngModel)]="lastName"
                     type="password"
                     placeholder="{{user.lastName}}">
            </div>

            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example5">Введіть нове ім'я</label>
              <input id="form3Example5" class="form-control" #pass
                     [(ngModel)]="firstName"
                     type="text"
                     placeholder="{{user.firstName}}">
            </div>

            <div style="color: red" *ngIf="emptyName">Поле імені не може бути пустим</div>
            <div style="color: red" *ngIf="userExist">Користувач з таким нікнеймом вже існує</div>
            <button (click)="validation()" class="btn btn-primary form-outline w-100 btn-block mb-4">
              Зберегти зміни
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


