header {
  text-align: center;
  height: 80px;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
}


.head-buttons a,  .head-buttons  span {
  border: 1px solid black;
  font-size: 18px;
  padding: 10px 35px;
  background-color: #f59993;
}

.head-buttons {
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content:space-between;
}

.user-img {
  width: 100px;
  padding: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
